@model IEnumerable<Repository.Entities.Cart>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li><span>Cart</span></li>
            </ul>
        </div>
    </div>
    <div class="holder">
        <div class="container">
            <div class="page-title text-center">
                <h1>Your Shopping Cart</h1>
            </div>
            <div class="row">
                <div class="col-lg-11 col-xl-13">
                    <div class="cart-table">
                        <div class="cart-table-prd cart-table-prd--head py-1 d-none d-md-flex">
                            <div class="cart-table-prd-image text-center">
                                Image
                            </div>
                            <div class="cart-table-prd-content-wrap">
                                <div class="cart-table-prd-info">Name</div>
                                <div class="cart-table-prd-qty">Qty</div>
                                <div class="cart-table-prd-price">Price</div>
                                <div class="cart-table-prd-action">&nbsp;</div>
                            </div>
                        </div>
                        <div class="cart-table-prd">
                            <div class="cart-table-prd-image">
                                <a href="product.html" class="prd-img"><img class="lazyload fade-up" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/skins/fashion/products/product-01-1.webp" alt=""></a>
                            </div>
                            <div class="cart-table-prd-content-wrap">
                                <div class="cart-table-prd-info">
                                    <div class="cart-table-prd-price">
                                        <div class="price-new">$180.00</div>
                                    </div>
                                    <h2 class="cart-table-prd-name"><a href="product.html">Leather Pegged Pants</a></h2>
                                </div>
                                <div class="cart-table-prd-qty">
                                    <div class="qty qty-changer">
                                        <button class="decrease"></button>
                                        <input type="text" class="qty-input" value="2" data-min="0" data-max="1000">
                                        <button class="increase"></button>
                                    </div>
                                </div>
                                <div class="cart-table-prd-price-total">
                                    $360.00
                                </div>
                            </div>
                            <div class="cart-table-prd-action">
                                <a href="#" class="cart-table-prd-remove" data-tooltip="Remove Product"><i class="icon-recycle"></i></a>
                            </div>
                        </div>
                        <div class="cart-table-prd">
                            <div class="cart-table-prd-image">
                                <a href="product.html" class="prd-img"><img class="lazyload fade-up" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/skins/fashion/products/product-16-1.webp" alt=""></a>
                            </div>
                            <div class="cart-table-prd-content-wrap">
                                <div class="cart-table-prd-info">
                                    <div class="cart-table-prd-price">
                                        <div class="price-new">$220.00</div>
                                    </div>
                                    <h2 class="cart-table-prd-name"><a href="product.html">Cascade Casual Shirt</a></h2>
                                </div>
                                <div class="cart-table-prd-qty">
                                    <div class="qty qty-changer">
                                        <button class="decrease"></button>
                                        <input type="text" class="qty-input" value="2" data-min="0" data-max="1000">
                                        <button class="increase"></button>
                                    </div>
                                </div>
                                <div class="cart-table-prd-price-total">
                                    $360.00
                                </div>
                            </div>
                            <div class="cart-table-prd-action">
                                <a href="#" class="cart-table-prd-remove" data-tooltip="Remove Product"><i class="icon-recycle"></i></a>
                            </div>
                        </div>
                        <div class="cart-table-prd">
                            <div class="cart-table-prd-image">
                                <a href="product.html" class="prd-img"><img class="lazyload fade-up" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/skins/fashion/products/product-02-1.webp" alt=""></a>
                            </div>
                            <div class="cart-table-prd-content-wrap">
                                <div class="cart-table-prd-info">
                                    <div class="cart-table-prd-price">
                                        <div class="price-new">$75.00</div>
                                    </div>
                                    <h2 class="cart-table-prd-name"><a href="product.html">Oversize Cotton Dress</a></h2>
                                </div>
                                <div class="cart-table-prd-qty">
                                    <div class="qty qty-changer">
                                        <button class="decrease"></button>
                                        <input type="text" class="qty-input" value="2" data-min="0" data-max="1000">
                                        <button class="increase"></button>
                                    </div>
                                </div>
                                <div class="cart-table-prd-price-total">
                                    $360.00
                                </div>
                            </div>
                            <div class="cart-table-prd-action">
                                <a href="#" class="cart-table-prd-remove" data-tooltip="Remove Product"><i class="icon-recycle"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-1"><a href="#" class="btn btn--grey">Clear All</a></div>

                </div>
                <div class="col-lg-7 col-xl-5 mt-3 mt-md-0">
                    <div class="card-total">
                        <div class="text-left">
                            <button class="btn btn--grey"><span>UPDATE CART</span><i class="icon-refresh"></i></button>
                        </div>
                        <div class="row d-flex">
                            <div class="col card-total-txt">Total</div>
                            <div class="col-auto card-total-price text-right">$ 475.00</div>
                        </div>
                        <button class="btn btn--full btn--lg"><span>Checkout</span></button>
                        <div class="card-text-info text-right">
                            <h5>Standart shipping</h5>
                            <p><b>10 - 11 business days</b><br>1 item ships from the U.S. and will be delivered in 10 - 11 business days</p>
                        </div>
                    </div>
                    <div class="mt-2"></div>
                    <div class="panel-group panel-group--style1 prd-block_accordion" id="productAccordion">
                        <div class="panel">
                            <div class="panel-heading active">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#productAccordion" href="#collapse1">Your personal information</a>
                                    <span class="toggle-arrow"><span></span><span></span></span>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse show">
                                <div class="panel-body">
                                    <label>Address:</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control--sm">
                                    </div>
                                    <label>Phone:</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control--sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
