<partial name="_Notification" />
<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><span>Change password</span></li>
            </ul>
        </div>
    </div>
    <div class="holder">
        <div class="container">
            <div class="row">
                <div class="col-md-4 aside aside--left">
                    <div class="list-group">
                        <a asp-controller="Account" asp-action="Details" class="list-group-item">Account Details</a>
                        <a asp-controller="Account" asp-action="ChangePassword" class="list-group-item active">Change Password</a>
                        <a asp-controller="Favorite" asp-action="Index" class="list-group-item">My Favorite</a>
                        <a href="account-history.html" class="list-group-item">My Order History</a>
                    </div>
                </div>
                <div class="col-md-14 aside">
                    <h1 class="mb-3">Change Password</h1>
                    <div class="prd-grid-wrap position-relative">
                        <form asp-action="ChangePassword">
                            <div class="form-group">
                                <input id="oldPassword" name="oldPassword" type="password" class="form-control form-control--sm" placeholder="Old Password" required>
                                <span class="field-validation-valid error text-danger" data-valmsg-for="oldPassword" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <input id="Password" name="password" type="password" class="form-control form-control--sm" placeholder="New Password" required>
                                <span class="field-validation-valid error text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <input data-val="true" data-val-equalto="Password and Confirmation Password must match." data-val-equalto-other="*.password" id="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required/>
                                <span class="field-validation-valid error text-danger" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                            </div>
                            <button type="submit" style="float: right;" href="#" class="btn">Change</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
