@model Repository.Entities.Account

@{
    ViewData["Title"] = "SignIn";
}
@section StarRating{
    <style>
        .input-group-addon.show-password {
            cursor: pointer;
            pointer-events: auto;
            position: absolute;
            right: 0;
            top: 52%;
            left: 90%;
        }


    </style>
}
<div class="holder breadcrumbs-wrap mt-0">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><span>Log In</span></li>
        </ul>
    </div>
</div>
<div class="holder">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-9">
                <div class="form-wrapper">
                    <p>To access your whishlist, address book and contact preferences and to take advantage of our speedy checkout, create an account with us now.</p>
                    <p class="text-danger">@TempData["Error"]</p>
                    <form asp-action="SignIn">
                        <div class="form-group">
                            <input asp-for="Email" type="email" class="form-control" placeholder="E-mail">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input style="padding-right: 50px;" asp-for="Password" id="Password" name="Password" type="password" class="form-control" placeholder="Password">
                            <span class="input-group-addon show-password"><i class="fa fa-eye"></i></span>
                        </div>
                        <div class="text-center">
                            <a class="link-info text-decoration-underline" asp-controller="account" asp-action="signup">Don't have account yet? Go to <b>SignUp</b> <i class="fas fa-arrow-right"></i></a>
                        </div>
                        <div class="text-center">
                            <button class="btn">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('.show-password').click(function () {
            $(this).toggleClass('active');
            var input = $(this).prev();
            if (input.attr('type') === 'password') {
                input.attr('type', 'text');
                $(this).find('i').removeClass('fa-eye').addClass('fa-eye-slash');
            } else {
                input.attr('type', 'password');
                $(this).find('i').removeClass('fa-eye-slash').addClass('fa-eye');
            }
        });
    </script>
}
